<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockChain Operations</title>
</head>
<body>
    <main>
        <div class="container">
            <h1 class="text-center mt-3 mb-3">Add New Block</h1>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/">
                        <div class="mb-3">
                            <label>Product Name</label>
                            <input type="text" name="product_name" id="product_name" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>Product Brand</label>
                            <input type="text" name="product_brand" id="product_brand" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>Production Date</label>
                            <input type="text" name="production_date" id="production_date" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <h1 class="text-center mt-3 mb-3">Add New Block</h1>
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Index</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>